$font-stack : poppins, sans-serif;
$text-primary-color : #34364A;
$primary-color : #6E40FB;
$primary-color-hover : #592edb;

body{
    font-family: $font-stack;
    color: $text-primary-color;
    background-color: #E8EBF2;
}

h1,h2,h3,h4,h5,h6,p,a{
    font-family: $font-stack !important;
    color: $text-primary-color;
}

.primary-color{
    color: $primary-color !important;
}

.secondary-color{
    color: #999AA4;
}

.navbar{
    background-color: #ffffff;
    .nav-item{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .btn-nav{
        background-color: #E5E9F2;
    }
    .dropdown-menu{
        border-radius: 10px;
    }
    .dropdown-item img {
        width: 50px;
    }
}

.btn.primary-btn{
    background-color: $primary-color;
    color: #ffffff;
    &:hover{
        color: #ffffff;
        background-color: $primary-color-hover;
    }
    &:focus{
        background-color: $primary-color-hover;
    }
}

.btn.secondary-btn{
    border: .5px solid #6B6B6B;
    &:hover{
        background-color: #dbdbdb;
    }
}

.header{
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 5rem;
    .text-header{
        margin-bottom: 1rem;
        h1{
            margin-bottom: 2rem;
            font-weight: bold;
        }
        p{
            width: 50%;
        }
        #Cbesar{
            position: absolute;
            top: 40%;
            left: 0rem;
        }
        #Ckecil{
            position: absolute;
            top: 20%;
            left: 48%;
        }
    }
    #plus{
        position: absolute;
        top: 30%;
    }
    #plus-plus{
        position: absolute;
        top: 35%;
    }
}

.karya{
    margin-top: 3rem;
    margin-bottom: 3rem;
    h5{
        color: $primary-color !important;
    }
    h2{
        font-weight: bold;
    }
    .card{
        width: 100%;
        margin: auto;
        border-radius: 0 0 10px 10px;
    }
    .karya-item{
        padding: 1.5rem;
        margin-top: 3rem;
        small{
            color: #247AFF;
        }
        h4{
            font-weight: bold;
        }
    }
    .owl-carousel{
        .owl-item{
            img{
                width: auto;
            }
            .karya-img{
                width: 100%;
            }
        }
        .owl-nav{
            .customNextBtn{
                position: absolute;
                top: 63%;
                right: 1%;
                cursor: pointer;
            }
            .customPrevBtn{
                position: absolute;
                top: 63%;
                left: 1%;
                cursor: pointer;
            }
        }
        .owl-dots{
            .owl-dot{
                span{
                    background-color: #247AFF4D;
                    &:hover{
                        background-color: #247cff85;
                    }
                }
            }
            .owl-dot.active{
                span{
                    background-color: #247AFF;
                }
            }
        }
    }
    #wave{
        position: absolute;
        left: -10%;
        top: 50%;
    }
    #Csedang{
        position: absolute;
        right: -7%;
        bottom: -1%;
    }

}

.layanan{
    position: relative;
    .plus2{
        position: absolute;
        bottom: 6%;
        left: 3%;
    }
    .plus-plus2{
        position: absolute;
        bottom: 12%;
        left: 3%;
    }
}

.artikel{
    .tgl-artikel{
        margin-left: 2.4rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: start;
    }
}

.metode{
    position: relative;
    .c-besar2{
        position: absolute;
        left: 0%;
        top: 38%;
    }
    .bg-titik{
        position: absolute;
        right: 29%;
        top: 40%;
    }
    .c-kecil2{
        position: absolute;
        left: 14%;
        top: 36%;
    }
    .c-kecil3{
        position: absolute;
        top: 20%;
        right: 10%;
    }
    .w-fit-content{
        width: fit-content;
    }
    .d-flex{
        .list-metode{
            position: relative;
            margin-right: 3rem;
            margin-top: 3rem;
            h4{
                z-index: 1;
                position: relative;
            }
        }
        hr{
            margin-top: 0%;
            width: 1.7rem;
            background-color: #9B46FF;
            height: 5px;
            opacity: 1;
            position: absolute;
            top: 28%;
            z-index: 0;
        }
    }
}

.testimoni {
    .user-review {
        h1 {
            font-weight: bold;
            span {
                border-bottom: 7px solid #9B46FF; 
                line-height: 0.4em;
                display: inline-table;
            }
        }
        .item {
        h4 {
            font-weight: bold;
        }
        img {
            display: block;
            width: 10%;
        }
        .cilok-1 {
            width: 40px !important; 
            height: 40px !important;
        }
        .cilok-2 {
            width: 40px !important;
            height: 40px !important;
            margin-top: 93px;
        }
        }
        .img-rating {
            display: flex;
            justify-content: center;
        }
        .butn {
            width: 32px !important;
            height: 32px !important;
        }
    }
}

.pertanyaan{
    .accordion{
        .accordion-button{
            &::after{
                background-image: url(../img/plus-vector.png);
            }
            &:focus{
                box-shadow: 0 0 0 0;
            }
            &:not(.collapsed){
                color: $primary-color;
                border-bottom: 2px solid $primary-color;
                &::after{
                    background-image: url(../img/minus-vector.png);
                    transform: translate(10px, 10px);
                    margin-right: .5rem;
                }
            }
        }
        .accordion-collapse{
            transition: .25s ease;
        }
    }
}

.cta{
    background-image: url(../img/cta-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    img{
        left: 22%;
        position: relative;
        top: -12%;
        width: auto;
    }
    h1,h5,button{
        color: #ffffff;
    }
    .btn-cta{
        background-color: #5427DE;
        &:hover{
            color: #ffffff;
        }
    }
}

footer{
    .footer-text{
        color: #34364A;
    }
    a.footer-text{
        &:hover{
            color: $primary-color;
        }
    }    
}

@media (max-width: 480px) {
    .header{
        margin-bottom: 3rem;
        .text-header{
            padding: 1rem;
            #Cbesar{
                display: none;
            }
            #Ckecil{
                display: none;
            }
        }
        .header-img{
            display: none;
        }
        #plus{
            top: 35%;
            right: 5%;
        }
        #plus-plus{
            top: 40%;
            right: 5%;
        }
    }

    .artikel{
        .artikel-img{
            width: inherit;
        }
        .tgl-artikel{
            margin-left: 0rem;
        }
    }

    .metode{
        .metode-img{
            width: 100%;
        }
        .c-besar2 {
            top: 55%;
            width: 45px;
        }
        .c-kecil2 {
            width: 45px;
            top: 40%;
        }
        .bg-titik {
            right: 19%;
            top: 40%;
            width: 10px;
        }
        .c-kecil3{
            display: none;
        }
        .d-flex{
            .list-metode{
                margin-right: 1rem;
                margin-top: 1.5rem;
            }
        }
    }

    .testimoni{
        .user-review{
            .item{
                img{
                    width: auto;
                }
            }
        }
    }

    .pertanyaan{
        .accordion{
            .accordion-button{
                padding: 1.5rem;
            }
        }
    }

    .cta{
        background-size: contain;
        .artikel-img{
            left: 0px;
            position: relative;
            top: 0px;
            width: 100%;
        }
        h1, h5{
            color: $text-primary-color;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .artikel{
        .artikel-img{
            width: 100%;
        }
        .tgl-artikel{
            margin-left: 0rem;
        }
    }
    .metode{
        .metode-img{
            width: 100%;
        }
    }
    .testimoni{
        .user-review{
            .item{
                img{
                    width: auto;
                }
            }
        }
    }
    .cta{
        background-size: contain;
        img{
            left: -12%;
            top: -13%;
        }
        .w-75{
            width: 100% !important;
        }
    }
}